/* You can add global styles to this file, and also import other style files */
/* *{
    box-sizing: border-box;
    text-align: center;
}
button  {
    background-color: aquamarine;
    color: white;
    padding: 12px 20px;
    border: none;  
    
    } 
    input {
        margin: 5px;
        padding: 12px 10px ;
        border: 1px solid rgb(45, 18, 18);
        border-radius: 4px;
        font: 10px;
    
    }
    
    label{
        display: inline-block; 
        width: 75px;
    
    }  */